*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: Arial, sans-serif;
}

h1, h2, h3, p {
    text-align: center;
    margin-bottom: 2.4rem;
}

h1 {
    font-size: 2.6rem;
    margin-top: 1.6rem;
}

h3 {
    font-size: 2.2rem;
}

p {
    font-size: 1.6rem;
}

form {
    width: 50rem;
}

label {
    font-size: 1.2rem;
    font-weight: 500;
}


.error {
    color: red;
}

.btn--calc {
    width: 100%;
    border-radius: 100vw;
    font-weight: 600;
    background-color: #37b24d;
    color: #e9ecef;
    padding: 1rem;
    border: none; 
}

.btn--calc:hover {
    color: #37b24d;
    background-color: #e9ecef;
    outline: 1px solid #2b8a3e;
}

.input--area {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.input--area label {
    font-size: 1.4rem;
    font-weight: 500;
    padding-bottom: 0.2rem;
    border-bottom: 1px solid #343a40;
}

.input--calculo-1,
.input--calculo-2 {
    padding: 0.8rem 1rem;
    border: 1px solid #343a40;
}

#maintenance-form, .form--calc {
    width: 50rem;
    margin: 2rem auto;
}

.form-section {
    margin-top: 20px;
}
.btn--limparCampos {
    background-color: red;
}